In [24]:
#Import libraries.
import pandas as pd

Rating

In [25]:
#Read the files.
one = pd.read_csv('source_data/ratings/1.csv')
two = pd.read_csv('source_data/ratings/2.csv')
three = pd.read_csv('source_data/ratings/3.csv')
four = pd.read_csv('source_data/ratings/4.csv')
five = pd.read_csv('source_data/ratings/5.csv')
six = pd.read_csv('source_data/ratings/6.csv')
seven = pd.read_csv('source_data/ratings/7.csv')
eight = pd.read_csv('source_data/ratings/8.csv')

In [26]:
#Concatenate the ratings files.
data = [one, two, three, four, five, six, seven, eight]
rating = pd.concat(data)

In [27]:
#Modify 'timestamp' column to datetime.
rating['timestamp'] = pd.to_datetime(rating['timestamp'], unit = 's')

In [28]:
#Rename some titles.
rating['id'] = rating['movieId']
del rating['movieId']
rating['user_id'] = rating['userId']
del rating['userId']
rating = rating[['id', 'user_id', 'rating', 'timestamp']]

In [29]:
#Add a year column.
rating['rating_year'] = rating['timestamp'].dt.year

In [30]:
#Calculate the mean rating by movie and year of rating.
mean_rating = rating.groupby(['id', 'rating_year'])['rating'].mean()

In [31]:
#Calculate the mean rating overall for the movie.
user_rating = rating.groupby('id')['rating'].mean()
user_rating.to_csv('transformed_data/user_rating.csv')
user_rating = pd.read_csv('transformed_data/user_rating.csv')
user_rating.rename(columns = {'rating':'user_rating'}, inplace = True)

Title

In [32]:
#Amazon.
amazon = pd.read_csv('source_data/amazon_prime_titles.csv')

#Add id column.
amazon.insert(0, 'id', 'a' + amazon['show_id'], allow_duplicates = False)
#Insert platform column.
amazon.insert(1, 'platform', 'amazon prime', allow_duplicates = False)

amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            9668 non-null   object
 1   platform      9668 non-null   object
 2   show_id       9668 non-null   object
 3   type          9668 non-null   object
 4   title         9668 non-null   object
 5   director      7586 non-null   object
 6   cast          8435 non-null   object
 7   country       672 non-null    object
 8   date_added    155 non-null    object
 9   release_year  9668 non-null   int64
 10  rating        9331 non-null   object
 11  duration      9668 non-null   object
 12  listed_in     9668 non-null   object
 13  description   9668 non-null   object
dtypes: int64(1), object(13)
memory usage: 1.0+ MB

In [33]:
#Disney.
disney = pd.read_csv('source_data/disney_plus_titles.csv')

#Add id column.
disney.insert(0, 'id', 'd' + disney['show_id'], allow_duplicates = False)
#Insert platform column.
disney.insert(1, 'platform', 'disney', allow_duplicates = False)

disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1450 non-null   object
 1   platform      1450 non-null   object
 2   show_id       1450 non-null   object
 3   type          1450 non-null   object
 4   title         1450 non-null   object
 5   director      977 non-null    object
 6   cast          1260 non-null   object
 7   country       1231 non-null   object
 8   date_added    1447 non-null   object
 9   release_year  1450 non-null   int64
 10  rating        1447 non-null   object
 11  duration      1450 non-null   object
 12  listed_in     1450 non-null   object
 13  description   1450 non-null   object
dtypes: int64(1), object(13)
memory usage: 158.7+ KB

In [34]:
#Hulu.
hulu = pd.read_csv('source_data/hulu_titles.csv')

#Add id column.
hulu.insert(0, 'id', 'h' + hulu['show_id'], allow_duplicates = False)
#Insert platform column.
hulu.insert(1, 'platform', 'hulu', allow_duplicates = False)

hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3073 non-null   object
 1   platform      3073 non-null   object
 2   show_id       3073 non-null   object
 3   type          3073 non-null   object
 4   title         3073 non-null   object
 5   director      3 non-null      object
 6   cast          0 non-null      float64
 7   country       1620 non-null   object
 8   date_added    3045 non-null   object
 9   release_year  3073 non-null   int64
 10  rating        2553 non-null   object
 11  duration      2594 non-null   object
 12  listed_in     3073 non-null   object
 13  description   3069 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 336.2+ KB

In [35]:
#Netflix.
netflix = pd.read_csv('source_data/netflix_titles.csv')

#Add id column.
netflix.insert(0, 'id', 'n' + netflix['show_id'], allow_duplicates = False)
#Insert platform column.
netflix.insert(1, 'platform', 'netflix', allow_duplicates = False)

netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8807 non-null   object
 1   platform      8807 non-null   object
 2   show_id       8807 non-null   object
 3   type          8807 non-null   object
 4   title         8807 non-null   object
 5   director      6173 non-null   object
 6   cast          7982 non-null   object
 7   country       7976 non-null   object
 8   date_added    8797 non-null   object
 9   release_year  8807 non-null   int64
 10  rating        8803 non-null   object
 11  duration      8804 non-null   object
 12  listed_in     8807 non-null   object
 13  description   8807 non-null   object
dtypes: int64(1), object(13)
memory usage: 963.4+ KB

In [36]:
#Concatenate the DataFrames.
platform = [amazon, disney, hulu, netflix]
title = pd.concat(platform)

In [37]:
#Delete show_id column.
del title['show_id']

In [38]:
#Replace NaN in 'rating' for G (general for all audiences).
title['rating'] = title['rating'].fillna('G')

In [39]:
#Change 'date_added' type to datetime.
title['date_added'] = pd.to_datetime(title['date_added'])

In [40]:
#Split 'duration' column into 'duration_int' & 'duration_type'.
title[['duration_int', 'duration_type']]= title['duration'].str.split(" ", expand = True)
del title['duration']
title = title[['id', 'platform', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'duration_int', 'duration_type', 'listed_in', 'description']]

In [41]:
#Change NaN values for 0 in 'duration_int', then change the column data type.
title['duration_int'] = title['duration_int'].fillna(0)
title['duration_int'] = title['duration_int'].replace(['NaN', 'nan'], 0)
title['duration_int'] = title['duration_int'].astype('int')

In [42]:
#Change 'seasons' to 'season' in 'duration_type'.
title['duration_type'] = title['duration_type'].replace(['Seasons', 'seasons', 'Season'], 'season')

In [43]:
#Turn all text to lower case.
strings = ['type', 'title', 'director', 'cast', 'country', 'duration_type', 'listed_in', 'description']
for string in strings:
    title[string] = title[string].str.lower()

In [44]:
#Join the 'user_rating' calculated with 'title'
#df.join(other.set_index('key'), on='key')
title = title.join(user_rating.set_index('id'), on='id')

In [45]:
#Export title & rating to .csv
title.to_csv('transformed_data/title_01.csv')
rating.to_csv('transformed_data/rating_01.csv')